@{
    ViewData["Title"] = "Rules";
}

<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2>Rules</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->

<!-- rules part start-->
<section class="about_us section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-5 col-lg-6 col-xl-6">
                <div class="learning_img">
                    <img src="~/Game_Template/img/about_img.png" alt="">
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <div class="about_us_text">
                    <h2>Rules are simple!</h2>
                    <p>The aim is to reveal mines on the 5x5 grid. 
                        As you do so, the payout multiplier will increase. 
                        But if a bomb appears - your round is over.</p>
                    <a href="/Game/Rules" class="btn_1">Play</a>
                    <a href="#" class="btn_1">Watch Tutorial</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- rules part end-->