body {
    background-color: #111;
    color: white;
}

.game-container {
    max-width: 600px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-left: #fff;
}

.mine-btn {
    background-color: #333;
    color: red;
    border: none;
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.mine-btn:hover {
    background-color: #444;
}

.mine-btn.clicked {
    transform: rotateY(180deg);
    background-color: #555;
}

.controls-column {
    padding-right: 2rem;
}

.cashout-btn {background-image: linear-gradient(to right, #0b7200 0%, #71B280  51%, #237600  100%)}
.cashout-btn {
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
 }

 .cashout-btn:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

@media (max-width: 768px) {
    .game-container {
        border-top: #fff;
        flex-direction: column;
    }

    .controls-column {
        padding-right: 0;
        margin-bottom: 2rem;
    }
}